.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "retro";
  src: url("./fonts/retro.ttf") format("truetype");

  font-family: "retroca";
  src: url("./fonts/retroca.ttf") format("truetype");

  font-family: "stre";
  src: url("./fonts/stre.otf") format("opentype");

  font-family: "Vilaka";
  src: url("./fonts/Vilaka.ttf") format("truetype");

  font-family: "dream";
  src: url("./fonts/dream.ttf") format("truetype");

  font-family: "soria";
  src: url("./fonts/soria.ttf") format("truetype");

  font-family: "Neue";
  src: url("./fonts/Neue.ttf") format("truetype");


}
